html, body, .stApp {
    height: 100%;
}

.stApp {
    background: linear-gradient(
        135deg,
        rgb(158, 137, 176) 0%,
        rgb(115, 243, 41) 50%,
        rgb(74, 149, 181) 100%
    );
    font-family: 'Segoe UI', sans-serif;
}

.card{
    background-color: rgb(207, 62, 187);
    border-radius:16px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    padding:25px;
    margin-bottom:25px;
    color:#080d13
}

h1,h2,h3{
    color:#f1722a;
}

div[data-testid="metric-container"]{
    background-color:#080d13;
    border-radius:16px;
    padding:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.prediction-box{
    background: linear-gradient(135deg, #dcfce7, #bbf7d0);
    padding:22px;
    border-radius:14px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    color:#14532d;
}
